@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111111;
  color: #757575;
  font-family: "Noto Sans KR", sans-serif;
}

@layer utilities {
  .t-menu {
    font-weight: 500;
  }
}
