@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111111;
  color: #757575;
  font-family: "Noto Sans KR", sans-serif;
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .t-menu {
    font-weight: 500;
  }
}
